*,
*::before,
*::after{
   box-sizing: border-box;
}
a{
   display: inline-block;
   text-decoration: none;
   color: inherit;
}
body{
   font-family: 'Oswald', sans-serif;
   font-weight: 300;
   color: #2C2B2B;
   font-size: 18px;
   line-height: 27px;
}
.container{
   max-width: 1230px;
   padding: 0 10px;
   margin: 0 auto;
}

.header{
   min-height: 700px;
   background-image: url("../images/header-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center  bottom;
   color: #fff;
  
}


.header__top {
   padding: 47px 0 45px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.header__phone {
   font-size: 36px;
   line-height: 53px;
   font-weight: 400;
   text-transform: uppercase;
   
}
.header__content {
   position: relative;
   padding-top: 60px;
}
.header__title {
   font-size: 72px;
   line-height: 107px;
   font-weight: 400;
   text-transform: uppercase;
   
}
.header__subtitle {
   font-size: 36px;
   line-height: 53px;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: 30px;
}
.header__text{
   margin-bottom: 30px;
}
.button {
   padding: 15px 55px;
   font-weight: 300;
   font-size: 14px;
   line-height: 21px;
   background-color: #5A0D67;
   color: #fff;
   transition: all 0.5s;
}
.button:hover{
   color:#5A0D67;
   background-color: #fff;
}
.social{
   display: flex;
   align-items: center;
}
.header__social {
   padding: 70px 0 20px 70px;

}
.social__link{
   margin: 0 5px ;
}
.header__img {
   position: absolute;
   right: 0;
   bottom: -270px;
}
.services {
   padding-top: 350px;
   margin-bottom: 100px;

}
.title{
   font-weight: normal;
   font-size: 36px;
   line-height: 53px;
   text-transform: uppercase;    
   color: #21062A;
   margin-bottom: 50px;
   position: relative;
}
.title::after{
   content:"";
   width: 80px;
   height: 3px;
   background-color: #21062A;
   position: absolute;
   top: 20px;
   margin-left: 20px;
}
.services__inner {
   display: flex;
}
.services__content {
   width: 50%;
   padding-right: 96px;
}
.services__content-box {
   margin-bottom: 69px;
}
.services__content-title {
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   color: #5A0D67;
   margin-bottom: 12px;
}
.services__content-text {
   margin-bottom: 12px;
}

.button--decor {
   position: relative;
   margin-top: -19px;
   transition: all 0.5s;
    border: 1px solid #5A0D67;
}
.button--decor::after{
   position: absolute;
   content: "ЖМИ";
   color:  #C4C4C4;
   margin-left: 130px;

}
.button--decor::before{
  content:"";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color:#C4C4C4;
  right: -65px;
  top: 24px;
  
   
}
.button--decor:hover{
   color:#5A0D67;
   background-color: #fff;
   
}
.services__list {
   list-style: none;
   counter-reset: number;
}
.services__item {
  position: relative;
  counter-increment: number;
  border: 2px solid #C4C4C4;
  padding: 10px 15px 10px 113px;
  width: 450px;
  margin-bottom: 12px;
  transition: all 0.5s;
  
}
.services__item:hover .services__item-title{
   color: #5A0D67;
}
.services__item:hover{
   border: 2px solid #5A0D67;
   width: 500px;
}
.services__item:hover::before{
   color: #5A0D67;
}
.services__item-title {
   font-size: 24px;
   line-height: 36px;
   font-weight: 300;

}
.services__item::before{
   position: absolute;
   content: '0' counter(number);
   font-family: Oswald;
   font-weight: normal;
   font-size: 36px;
   line-height: 54px;
   text-transform: uppercase;
   color: #C4C4C4;
   transform: rotate(270deg);
   left: 20px;
   top: 15px;
   transition: all 0.5s;
  
}
.services__item:nth-child(n+10)::before{
   content: counter(number);
}
.benefits{
   margin-bottom: 100px;
}
.benefits__inner {
   display: flex;
}
.benefits__images {
   margin-right: 95px;
}
.benefits__content {
   width: 100%;
}
.benefits__title {
   margin-left: 185px;
}

.benefits__list {
   background: #21062A;
   padding: 25px 15px 25px 185px;
   color: #fff;
   list-style: none;
}
.benefits__item {
   margin-bottom: 20px;
   width: 320px;
}
.benefits__item-num {
   font-weight: 400;
   font-size: 36px;
   line-height: 53px;
   text-transform: uppercase;
}
.benefits__item-title {
   font-size: 24px;
   line-height: 36px;
}
.benefits__item-text {
   color: #C4C4C4;
}
.carousel{
   margin-bottom: 100px;
}
.carousel__inner {
   margin: 0 -7px;
}

.carousel__item-box {
   text-align: center;
   margin: 0 7px;
   border: 1px solid #C4C4C4;
   padding: 6px 6px 16px 6px;
   transition: all .5s;
}
.carousel__item-box:hover{
   color: #fff;
   background-color: #5A0D67;
   border-color: #5A0D67;
}
.carousel__item-img {
   max-width: 100%;
   margin-bottom: 23px;
}
.carousel__item-title {
   font-weight: 300;
   margin-bottom: 5px;
}
.slick-dots{
   display: flex;
   justify-content: center;
   list-style: none;
   margin-bottom: 50px;
}
.slick-dots button{
   font-size: 0;
   padding: 0;
   border: none;
   margin: 0 10px;
   width: 50px;
   height: 1px;
   background-color: #C4C4C4;
}
.slick-active button{
   background-color: #5A0D67;
   height: 3px;
}
.contacts__inner {
   display: flex;
   justify-content: space-between;
   
}
.contacts__info{
   padding-top: 50px;
   margin-bottom: 57px;
}
.contacts__item {
   margin-bottom: 20px;
}
.contacts__item-title {
   color: #5A0D67;
}

.contacts__form {
   padding: 50px 75px 57px;
   background: #21062A;
   text-align: center;
}
.contacts__title {
   color: #fff;
   margin-left: 53px;
   font-weight: 400;
   text-align: left;
}
.contacts__title::after{
   background-color:#FFFFFF;
}
.contacts__input{

   display: block;
   background-color: transparent;
   border: 1px solid #FFFFFF;
   padding: 0 15px;
   text-align: center;
   margin-bottom: 12px;
   width: 450px;
   height: 75px;
   color: #fff;
   font-size: 24px;

}
.contacts__input::placeholder {
   font-family: Oswald;
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 27px;
   color: #C4C4C4;
}
.contacns__btn{
   border: 0;
   color: #fff;
   margin-top: 78px;
   cursor: pointer;
}


.footer{
   background-color: #21062A;
}
.footer__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
   height: 100px;
}
@media(max-width: 1050px){
   .header__img{
      width: 80%;
   }
   .services {
      padding-top: 250px;
      
  }
   .services__item:hover {
      width: 450px;
  }
}
@media(max-width: 992px){
   .benefits__images{
      display: none;
   }
   .carousel__item-img {
      width: 100%;
  }
  .contacts__inner{
     display: block;
  }
  .contacts__info{
     text-align: center;
  }
  .contacts__title {
   margin-left: 0;
   text-align: center;
}
.contacts__input{
   width: 100%;
}
.contacns__btn {
   margin-top: 30px;
}
}
@media(max-width: 900px){
 
.header__phone {
    font-size: 24px;
    line-height: 36px;
}

.header__title{
   font-size: 54px;
   line-height: 74px;
}
.header__subtitle{
   font-size: 24px;
   line-height: 36px;
}
.header__social{
   padding-left: 50px;
}
.services__inner{
   flex-wrap: wrap;
}
.services__list{
   order: -1;
   margin-bottom: 30px;
   width: 100%;
}
.services__item{
   width: 100%;
}
.services__item:hover{
   width: 100%;
}
.services__content {
   width: 100%;
   padding-right: 0px;
}
}
@media(max-width: 768px){
.benefits__list {
  padding: 25px 15px ;

  }
.benefits__item {
   width: 100%;
} 
.benefits__content {
   text-align: center;
}
.benefits__title {
   margin-left: 0;
}
}
@media(max-width: 620px){
   body{
      font-size: 16px;
      line-height: 22px;
   }
   .header__content{
      padding-top: 0;
      text-align: center;
   }
   .header__social{
      padding: 30px 0 20px;
   }
   .social{
      justify-content: center;
   }
   .services {
      padding-top: 150px;
   }
   .title{
      font-size: 30px;
      line-height: 40px;
   }
   .title::after {
      top: 15px;
      margin-left: 7px;
}
.benefits__item-num {
   font-size: 30px;
   line-height: 44px;
   
}
.slick-dots button {
   width: 15px;
}
.contacts__form {
   padding: 50px 15px 40px;

}
.footer__inner{
   flex-wrap: wrap;
   justify-content: center;
   height: auto;
   padding: 20px 0;
}
.footer__social{
   width: 100%;
   margin: 25px 0;
}
}
@media(max-width: 520px){
   .title::after{
      display: none;
   }
   .header__top{
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding: 30px 0;
   }
  
  .header__phone{
       width: 100%;
   }
   .header__title{
         font-size: 44px;
         line-height: 50px;
         margin-bottom: 20px;
   }
   .header__img{
      position: static;
      width: 100%;
   }
  
  .services{
   padding-top: 50px;
   margin-bottom: 60px;
   }
   .title{
   margin-bottom: 25px;
   }
    .services__item{
       padding-left: 60px;
       padding-right: 10px;
   }
    .services__item-title{
       font-size: 20px;
       line-height: 30px;
   }
    .services__item::before{
       left: 10px;
       top: 10px;
   }
   .services__content-box {
      margin-bottom: 50px;
  }
    .button--decor::before {
      right: -50px;
   }
    .button--decor::after {
      margin-left: 110px;
   }
   .benefits,
   .carousel{
      margin-bottom: 50px;
  }
  .contacts__info {
   padding-top: 0;
  
}
   
}
@media(max-width: 360px){
   .button--decor::before, 
    .button--decor::after {
       display: none;
    }
    .title{
       text-align: center;
    }
   
    .services__content{
       text-align: center;
    }
 
}
@media(max-width: 340px){
   .header__title{
      font-size: 44px;
      line-height: 50px;
   }
}